aside {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: -300px;

    display: grid;
    grid-template-columns: 300px 4rem;
    grid-auto-rows: min-content;

    transition: all 0.2s;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    overflow-y: auto;

    background-color: var(--surface-color);
    height: 100vh;
    padding: 1rem;
    padding-top: 5rem;
    box-shadow: 0.2rem 0.2rem 0 0 rgba(0, 0, 0, 0.2);
}

nav > button {
    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;

    background-color: transparent;
    padding: 1rem;
    border: none;

    color: var(--surface-font-color);
    font-size: 1rem;

    transition: all 0.2s;
}

nav > button:hover {
    background-color: var(--primary-color);
    color: var(--primary-font-color);
}

nav > button > fa-icon {
    font-size: 2rem;
    padding-bottom: 1rem;
}

aside > button {
    outline: none;
    cursor: pointer;

    background-color: var(--surface-color);
    width: 4rem;
    height: 4rem;
    border: none;
    box-shadow: 0.2rem 0.2rem 0 0 rgba(0, 0, 0, 0.2);

    color: var(--surface-font-color);
    font-size: 1.5rem;
    
    transition: all 0.2s;
}

aside > button:hover {
    background-color: var(--primary-color);
    color: var(--primary-font-color);
}

.is-active {
    left: 0;
}