<app-dropmenu></app-dropmenu>
<section id="sectionid" #section>
    <!-- gamediv samler HTMLPhaser og canvas så begge vises ved Fullscreen.-->
    <div Id="gamediv">
        <!-- HTMLPhaser er parent til canvas, da det ellers ikke er muligt at vise html forms i phaser.-->
        <div id="HTMLPhaser">
            <canvas id="game-view" #display>
                Your browser does not support the HTML canvas tag.
            </canvas>
        </div>
    </div>
    <button (click)="onClickFullscreen()">
        <fa-icon [icon]="faExpand"></fa-icon>Fullscreen
    </button>
</section>