<header>
    <h1>2D Fighting Multiplayer Platformer</h1>
</header>
<section>
    <h2>Login</h2>
    <hr>
    <form [formGroup]="form">
        <p class="error" *ngIf="error">Login failed.</p>
        
        <input type="email" id="loginEmail" autocomplete="email" placeholder="Email..." formControlName="email">
        <p class="error" *ngIf="email.invalid && email?.dirty">Email is not valid.</p>

        <input type="password" id="loginPassword" autocomplete="current-password" placeholder="Password..." formControlName="password">
        <p class="error" *ngIf="password.invalid && password?.dirty">Password must contain 1 lowercase, 1 uppercase, 1 number and be at least 8 characters long.</p>

        <input type="submit" value="Login" [disabled]="form.invalid" (click)="onSubmit()">
    </form>
    <hr>
    <form>
        <input type="button" value="Register" routerLink="/register">
    </form>
</section>